{% extends 'talk/base.html' %}
{% load staticfiles %}
{% block title %}MultiChat Example{% endblock %}
{% block header_text %}MultiChat Example{% endblock %}
{% block content %}

<!-- <input class="create_room form-input input-group" type="text" style="float:right;" placeholder="enter name of room"> -->

    <ul class="rooms list-group">
        {% for room in rooms %}
            <li class="room-link list-group-item" data-room-id="{{ room.id }}">{{ room.title }}</li>
        {% empty %}
            <p class="empty">No chat rooms defined. Maybe make some in the <a href="{% url 'admin:index' %}">admin</a>?</p>
        {% endfor %}
    </ul>
    <div id="room_user" data-room-id=""></div><br>
    <div id="chats" style="width:90vh; height:5vh;">
    </div>
{% endblock %}

{% block extra_body %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"></script>
    <script src="{% static "main.js" %}"></script>
{% endblock %}