{% extends 'talk/base.html' %}
{% block title %}Login{% endblock %}
{% block header_text %}Login{% endblock %}


{% block content %}
  <form  class="form-group" action="{% url 'log_in' %}" method="post">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group">
        {{ field.label_tag }}
        {{ field }}
      </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Log in</button>
  </form>
  <p>Don't have an account? <a href="{% url 'sign_up' %}">Sign up!</a></p>
{% endblock content %}